<p>チャットルーム</p>

<div id="chat-messages">
  <%= render @chats %>
</div>

<form>
  <textarea data-behavior="room_speaker" data-chat_room_id="1" placeholder="メッセージを入力" class="room_message-form_textarea"></textarea>
</form>